@model MVCmicrosoft.Models.ProductModel

<h2>Create Product</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" style="color:red"></span>
    </div>

    <button type="submit">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
