@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "Page Not Found";
}

<div style="text-align:center;">
    <h1>Page not found</h1>
    <p>The requested URL '<strong>@ViewBag.RequestedUrl</strong>' was not found on the server</p>
    <a href="/" class="btn btn-primary">Go to homepage</a>
</div>
